h1{color:#FFB300; font-size: 79px; Line-Height: 69px; font-weight: Black; font-family: Arial Black;}
h2{color: #FFB300; font-size: 39px; Line-Height: 29px; font-weight: Black; font-family: Arial Black}
h3{color: #050505; font-size: 20px; Line-Height: 15px; font-weight: Black; font-family: Arial Black}
p{color: #0c0c0b; font-size: 20px; Line-Height: 50px; font-weight: Black; font-family: Arial; white-space: pre; line-height: inherit; text-decoration-line: none}
iframe{white-space: inherit; width: 883px; height: 497px;align-self: center;}
ul{color:black; font-size: 20px; Line-Height: 50px; font-weight: Black; font-family: Arial; white-space: pre; line-height: inherit}
h4{color:black; font-size:20px; line-height: 10; font-weight: unset; font-family: Arial black; text-align: right ; scroll-margin-left: 50;}
h5{color:blue; text-decoration-line: underline; font-family: Arial black; grid-column-start: auto;}